body {
  background: rgb(199, 212, 206);
  margin: 0!important;
  padding: 0!important;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

div#root, .container-fluid, .container, .row {
  padding: 0.2rem!important;
}

button.big-x {
  font-size: 2rem;
}

ul.header-navbar {
  background: rosybrown; 
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.header-navbar-li {
  padding: .2rem;
  margin-right: 1rem;
  list-style-type: none;
}

.header-navbar-link2 {
  font-size: 1.2rem;
  color: white;
  transition: all .4s ease;
}

.header-navbar-link {
  border-radius: .5rem;
  padding: 1rem;
  font-size: 1.2rem;
  color: white;
  transition: all .4s ease;
}
.header-navbar-link2:hover {
  text-decoration: none;
}
.header-navbar-link:hover {
  text-decoration: none;
  background: #4CAF50; 
}

.logo-text {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 4rem;
  transition: all .4s ease;
}

.logo-text:hover {
  text-decoration: none
}

.big-btn {
  margin-top: 3rem;
  padding: 1.5rem 3rem;
  border-radius: .5rem;
  background-color: #4CAF50;
  border: none;
  color: white;
  /* padding: 15px 32px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: all .5s ease;
  opacity: .92;
  animation: btn-click-response 2s 1;
}
.big-btn:active, .big-btn:hover  {
  outline: none;
  opacity: 1.5;
  background: tomato;
}
.big-btn:hover  {
 animation: btn-animate 2s infinite;
}

.fadeAway {
  animation: fadeOut 2s ease-in-out!important;
  display: none;
}

@keyframes fadeOut {
  20%   {opacity: 1}
  40%  {opacity: .6}
  60% {opacity: 0.4}
  80% {opacity: 0.2}
  100% {opacity: 0}
 }

@keyframes btn-animate {
  20%   {transform: scale(1.05)}
  40%  {transform: scale(.95)}
  60% {transform: scale(1.05)}
  80% {transform: scale(1.05)}
  100% {transform: scale(1) }
 }

 @keyframes btn-click-response {
  10% {transform: translate(.3rem)}
  20% {transform: translate(-.3rem)}
  30% {transform: translate(.7rem)}
  40% {transform: translate(-.7rem)}
  50% {transform: translate(.7rem)}
  60% {transform: translate(-.7rem)}
  70% {transform: translate(.3rem)}
  80% {transform: translate(-.3rem)}
  90% {transform: translate(.3rem)}
  100% {transform: translate(0) }
 }